{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title mb-3">About WeatherWebApp</h2>
            <p>
                <strong>WeatherWebApp</strong> is a personal, responsive web app that allows you to:
            </p>
            <ul>
                <li>Check 7-day weather forecasts by city or map</li>
                <li>Add your favorite locations for quick access</li>
                <li>View interactive weather maps and daily weather details</li>
            </ul>
            <p><strong>Build with:</strong></p>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>HTML5, CSS, JavaScript</li>
            </ul>
            <p> Designed and coded for private use! </p>
            <hr>
            <div>
                <strong>Built by:</strong> Christos Andreopoulos<br>
                <strong>GitHub:</strong> <a href="https://github.com/XristosAndreopo" target="_blank">XristosAndreopo</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

