{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container my-5">
  <h2>Your Favorite Locations</h2>

  {% if favorite_weather %}
    <div class="row">
      {% for fav in favorite_weather %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <strong>{{ fav.city }}{% if fav.country %}, {{ fav.country }}{% endif %}</strong>
              <form method="post" action="{% url 'remove_favorite' fav.id %}">
                {% csrf_token %}
                <button class="btn btn-sm btn-danger">Remove</button>
              </form>
            </div>
            <div class="card-body">
              <div class="row text-center">
                <div class="col">
                  <strong>Today</strong><br>
                  {% if fav.today.error %}
                    <span class="text-danger">{{ fav.today.error }}</span>
                  {% else %}
                    <small>{{ fav.today.date }}</small><br>
                    <img src="{% static 'img/weather_icons/' %}{{ fav.today.icon }}" alt="" width="48" height="48"><br>
                    {{ fav.today.description|capfirst }}<br>
                    Temp: {{ fav.today.temp }}{{ unit_symbol }}<br>
                    Humidity: {{ fav.today.humidity }}%
                  {% endif %}
                </div>
                <div class="col">
                  <strong>Tomorrow</strong><br>
                  {% if fav.tomorrow.error %}
                    <span class="text-danger">{{ fav.tomorrow.error }}</span>
                  {% else %}
                    <small>{{ fav.tomorrow.date }}</small><br>
                    <img src="{% static 'img/weather_icons/' %}{{ fav.tomorrow.icon }}" alt="" width="48" height="48"><br>
                    {{ fav.tomorrow.description|capfirst }}<br>
                    Temp: {{ fav.tomorrow.temp }}{{ unit_symbol }}<br>
                    Humidity: {{ fav.tomorrow.humidity }}%
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>You have no favorite locations yet.</p>
  {% endif %}
</section>
{% endblock %}
